@charset "utf-8";

img {
	max-width: 45%;
}

body {
background-color: #FF0000;
}

table, tr{

border:1px solid black;

}

th{
background-color:black;
color:white;
}

td{
height:50px;
vertical-align:center;
padding:15px;
}


